<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <ion-card *ngIf="diasCorridos && diasUteis">
    <ion-card-header>
      Info
    </ion-card-header>

    <ion-card-content>
      <p>
        Abaixo estão as informações do número de dias corridos e o número de dias úteis do quinto dia útil desse mês até o próximo
        quinto dia útil.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="beer"></ion-icon>
      </ion-col>
      <ion-col col-11>
        Dias corridos: {{ diasCorridos }}
      </ion-col>

      <ion-col col-1>
        <ion-icon name="briefcase"></ion-icon>
      </ion-col>
      <ion-col col-11>

        Dias úteis: {{ diasUteis }}
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="diasCorridos && diasUteis">
    <ion-card-header>
      Gastos estimados
    </ion-card-header>
    <ion-row>
      <ion-col col-1>
        <ion-icon item-start name="bus"></ion-icon>
      </ion-col>
      <ion-col col-11>
        VT: {{ despesas.transporte | currency: 'BRL':true:'1.2-2' }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1>
        <ion-icon name="restaurant"></ion-icon>
      </ion-col>
      <ion-col col-11>
        VR: {{ despesas.refeicao | currency : 'BRL':true:'1.2-2' }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-1>
        <ion-icon name="logo-usd"></ion-icon>
      </ion-col>
      <ion-col col-11>
        Total: {{ despesas.refeicao + despesas.transporte | currency : 'BRL':true:'1.2-2' }}
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>